
    
      a {
            color: black;
            font-size: 50px;
            
        }
        
        a:hover, a:active {
        color: darkgray;
        }
        
      .head {
            height: 150px;
            font-size: 130px;
            text-align: center;
            width: 700px;
            margin: auto;
            background-color: lightgray;
            border-style: ridge;
            border-width: 7px;
            border-color: darkgray;

            }
            
        .footer {
            height: 15px;
            font-size: 13px;
            text-align: center;
            width: 100px;
            margin: auto;
            background-color: lightgray;
            border-style: ridge;
            border-width: 3px;
            border-color: darkgray;

            }
            
            
      .space {
            height: 70px;
             }
             
        
  
      .minorhead{
                font-size: 50px;
                background-color: lightgray;
                  border-style: ridge;
                  border-width: 7px;
                  border-color: darkgray;
                  text-align: center;
                width: 600px;
                margin: auto;
                  
                }
  
      .box_gray {
              font-size: 50px;
              background-color: lightgray;
              border-style: ridge;
              border-width: 7px;
              border-color: darkgray;
              text-align: center;
              
                 }

   
      .box {
             height: 50px;
            }
  
  
  
      @media (max-width: 600px) {
        .head {
          font-size: 90px;
          height: 110px;
          width: 100%;
            }
      }
            
            
        
        
